<!DOCTYPE HTML>
<html>
  <head>
    <title> Web BLE THIAM </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="test1.js"></script>

    <script>
$(document).ready(function(){
    $("#test").click(function(){
      let options = {

      optionalServices: ['c48e6067-5295-48d3-8d5c-0395f61792b1'],
      acceptAllDevices:true
                    }
                    navigator.bluetooth.requestDevice(options)
                              .then(function(device){
                                  console.log('> Found ' + device.name);
                                  device.gatt.connect().then(function(server){
                                    server.getPrimaryService('c48e6067-5295-48d3-8d5c-0395f61792b1').then(function(service){
                                      service.getCharacteristic('0d9dd6ab-e0e4-4d2e-acc1-8f0e60916cd4').then(function(characteristic){
                                characteristic.startNotifications().then(function(characteristic){
                                characteristic.addEventListener('characteristicvaluechanged',function(event)
                                {

                                  var value=event.target.value.getUint8(0)
                                  $("#notifiedValue").text("" +value);
                          });
                          });
                          });
                          });
                          });
                          });
                          });

});
</script>
</head>
  <body ng-app="webble">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <strong>TestBLE</strong>
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <h1 class="text-center"> Web BLE </h1>
            <h2 class="text-center"><small><u>PREREQUISITES</u>: Chrome browser with <a href="chrome://flags/#enable-experimental-web-platform-features" target="_blank">Web Bluetooth Enabled</a></small></h2>

            <p class="text-center">
              <button class="btn btn-primary" id="test">Scan</button>
            </p>
            <p class="text-center">
              <button onclick="connect()" class="btn btn-danger">
                  <i class="material-icons">bluetooth Jer</i> Connect
              </button>
            </p>
            <p class="text-center"  >Notifications:
            <span class="text-center" id="notifiedValue" style="font-size: xx-large ;"> </span>
            </p>
            <div class="well">
              </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <footer class="footer">
      </footer>
    </div>
  </body>
</html>
